body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bmo-container {
  position: relative;
  width: 500px;
  height: 700px;
  background: url("img/bmo.png") no-repeat center/contain;
}

#screen {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 550px;
  height: 750px;

}
